<div class="container-fluid parent-div">
  <div class="row">
    <div class="col-md-12 mt-5 text-center">
      <p>My Services</p>
      <div style="border-top: 2px solid rgb(254,27,78); width: 6%; margin-left: 47.5%;"></div>
    </div>
  </div>
  <div class="row p-5 ms-5">
    <div class="col-md-4 mb-3">
      <div class="card p-3">
        <a class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-code-slash"
            viewBox="0 0 16 16">
            <path
              d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
          </svg>
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">Web Development</h5>
          <small class="card-text">I have in depth knowledge of Frontend & provide services related to Frontend
            Development using Angular Framework
            .</small><br>
          <a href="#" class="btn mt-3">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card p-3">
        <a class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-filetype-java"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.521 15.175a1.321 1.321 0 0 1-.082-.466h.765a.577.577 0 0 0 .073.27.499.499 0 0 0 .454.246c.19 0 .33-.055.422-.164.092-.11.138-.265.138-.466V11.85h.79v2.725c0 .44-.118.774-.357 1.005-.236.23-.564.345-.984.345a1.59 1.59 0 0 1-.568-.094 1.144 1.144 0 0 1-.408-.266 1.139 1.139 0 0 1-.243-.39Zm3.972-.354-.314 1.028h-.8l1.342-3.999h.926l1.336 3.999h-.84l-.314-1.028H5.493Zm1.178-.59-.49-1.616h-.035l-.49 1.617h1.015Zm2.342 1.618h.952l1.327-3.999h-.878l-.888 3.138h-.038L8.59 11.85h-.917l1.34 3.999Zm3.087-1.028-.314 1.028h-.8l1.342-3.999h.926l1.336 3.999h-.84l-.314-1.028H12.1Zm1.178-.59-.49-1.616h-.035l-.49 1.617h1.015Z" />
          </svg>
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">Core Java</h5>
          <small class="card-text">I have good in depth knowledge about core java , If you have any project related to
            java we provide services for it .</small><br>
          <a href="#" class="btn mt-3">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card p-3">
        <a class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-code-square"
            viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z" />
          </svg>
        </a>
        <div class="card-body">
          <h5 class="card-title text-center">C,C++ Programming</h5>
          <small class="card-text">I have good in depth knowledge about C,C++ , If you have any project related to
            C,C++ we provide services for it .</small><br>
          <a href="#" class="btn mt-3">Learn More</a>
        </div>
      </div>
    </div>

  </div>
</div>
